body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #b2f4e5; 
}

.form-container {
    text-align: center;
    background-color: #8cffda; 
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}

button {
    width: 90%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}
