.paragraph-1 {
    text-decoration: underline; 
    text-decoration-color: blue; 
    text-decoration-style: dotted; 
}

.paragraph-2 {
    text-decoration: line-through; 
    text-decoration-color: red; 
    text-decoration-style: dashed; 
}

.paragraph-3 {
    text-decoration: overline; 
    text-decoration-color: green; 
    text-decoration-style: solid; 
}
